@import url(./main.css);

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08070c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.cadastro {
  width: 650px;
  height: 600px;
  outline: 0.25px solid white;
  border-radius: 20px;
  position: relative;
}

.cadastro-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    147deg,
    rgba(255, 255, 255, 0.31416316526610644) 16%,
    rgba(207, 207, 207, 0) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 4rem 5.25rem;
  gap: 2rem;
}

.cadastro-form span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cadastro-form span h1 {
  font-size: 2.5rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-wrapper input {
  height: 3rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  color: white;
}

.cadastro-form button {
  border-radius: 10px;
  height: 4rem;
  border: none;
  font-size: 1.25rem;
  background-color: #ff194a;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.cadastro-form button:hover {
  box-shadow: 0px 10px 30px 10px #ff194bc9;
}

.ball-1,
.ball-2 {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.ball-1 {
  background: rgb(255, 87, 147);
  background: linear-gradient(
    90deg,
    rgba(255, 87, 147, 1) 0%,
    rgba(255, 93, 126, 1) 87%,
    rgba(255, 87, 162, 1) 100%
  );
  position: absolute;
  z-index: -2;
  right: -70px;
  top: -70px;
}

.ball-2 {
  background-color: #f157ff;
  position: absolute;
  z-index: -1;
  left: -70px;
  bottom: -70px;
}
