<!doctype html>
<html lang="en">
  <head>
    <title>Cadastro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles/cadastro.css" rel="stylesheet" />
    <link href="../styles/navbar.css" rel="stylesheet" />
    <script src="../scripts/cadastro.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="header_nav">
        <a href="../../index.html" class="nav_item">Inicio</a>
        <a href="./login.html" class="nav_item">Login</a>
        <a href="./cadastro.html" class="nav_item"> Cadastro </a>
        <a href="./menu.html" class="nav_item">Menu</a>
        <a href="../php/tabela.php" class="nav_item">Tabela</a>
        <a href="../php/data.php" class="nav_item">Data</a>
        <a href="../php/get.php" class="nav_item">$_GET</a>
        <a href="../php/post.php" class="nav_item">$_POST</a>
      </nav>
      <div>
        <button id="btnTheme">O</button>
        <button id="btnInfo">?</button>
      </div>
    </header>

    <main class="cadastro">
      <div class="ball-1"></div>
      <div class="ball-2"></div>
      <section class="cadastro-form">
        <span>
          <h1>Cadastro</h1>
        </span>
        <form
          action="../php/post.php"
          class="form"
          name="frmCadastro"
          method="POST"
        >
          <span class="input-wrapper">
            <label for="">Name</label>
            <input
              type="text"
              id="username"
              name="username"
              autocomplete="off"
            />
          </span>
          <span class="input-wrapper">
            <label for="">Email</label>
            <input type="text" id="email" name="email" autocomplete="off" />
          </span>
          <span class="input-wrapper">
            <label for="">Password</label>
            <input type="password" id="password" name="password" />
          </span>
          <button type="submit" id="btnCadastrar">Cadastrar</button>
        </form>
      </section>
    </main>
  </body>
</html>
